    <section
      id="home"
      class="s-home target-section"
    >
      <div class="overlay"></div>
      <div class="shadow-overlay"></div>

      <div class="home-content">
        <div class="row home-content__main">
          <h3>Martín Campagnoli</h3>

          <h1>
            Developer on the surface <br />
            Tec diver in the deeps
          </h1>

          <div class="home-content__buttons">
            <a href="https://www.instagram.com/martin.campagnoli" target="_blank" class="smoothscroll btn btn--stroke">
              Instagram
            </a>
            <a href="https://www.linkedin.com/in/martincampagnoli" target="_blank" class="smoothscroll btn btn--stroke">
              Linkedin
            </a>
            <a href="https://github.com/martincampagnoli" target="_blank" class="smoothscroll btn btn--stroke">
              Github
            </a>
          </div>
        </div>

        <div class="home-content__line"></div>
      </div>

    </section>

